@font-face {
  font-family: charter;
  src: url("fonts/Charter Regular.otf") format("opentype"),
    url("fonts/Charter Bold.otf") format("opentype"),
    url("fonts/Charter Italic.otf") format("opentype"),
    url("fonts/Charter Bold Italic.otf") format("opentype");
}

html {
  font-size: 62.5%;
}

body {
  font-family: charter, sans-serif;

  display: flex;
  justify-content: center;
}

.container {
  margin-left: 1rem;
  margin-right: 1rem;

  overflow: auto;

  width: 70rem;
  position: relative;
  min-height: 100vh;
}

h1 {
  font-size: 3.5rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

h2 {
  font-size: 3rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

h3 {
  font-size: 2.5rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

p {
  font-size: 1.9rem;
  color: rgba(0, 0, 0, 0.8);
  line-height: 3rem;

  margin-top: 3rem;
  margin-bottom: 3rem;
}

hr {
  border-top: 0.15rem solid rgb(180, 180, 180);
  margin-top: 5rem;
  margin-bottom: 5rem;
}

a {
	color: inherit;
}